<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title">Login</h3>
                <form action='/users/login' method='post'>
                    Email: <input type='email' name='email' id='email' />
                    Password: <input type='password' name='password' id='password' />
                    <br>
                    <button type='submit' class="btn btn-primary">Login</button>
                </form>
                <br>
                <h3>¿Usuario nuevo?</h3>
                <button onclick="location.href='/register'" class="btn btn-primary">Regístrate</button>
                <br>
                <button class="btn btn-github mt-2" type="button" onclick="location.href='/users/register-github'">
                  Login with Github
                </button>
            </div>
        </div>
    </div>
</div>